.Dentobees-Footer-Background {
    background-image: url(../public/Dentobees-Footer-Background.avif);
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.Dentobees-Hero-Background {
    background-image: url(../public/Dentobees-Hero-Background.avif);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dentobees-WhyChooseUs-Background-Gradient {
    background-image: url(../public/Dentobees-WhyChooseUs-Background-Gradient.avif);
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.Dentobees-WhyChooseUs-TopBackground {
    background-image: url(../public/Dentobees-WhyChooseUs-TopBackground.avif);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.Dentobees-WhyChooseUs-BottomBackground {
    background-image: url(../public/Dentobees-WhyChooseUs-BottomBackground.avif);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.Dentobees-Learning-BackgroundOne {
    background-image: url(../public/Dentobees-Learning-Background.avif);
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.Dentobees-Learning-BackgroundTwo {
    background-image: url(../public/Dentobees-Learning-Background.avif);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dentobees-Learning-Play-Background {
    background-image: url(../public/Meta-Dentobees-Thumbnail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dentobees-Testimonials-Background {
    background-image: url(../public/Dentobees-Testimonials-Background.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dentobees-Reviews-Background {
    background-image: url(../public/Dentobees-Reviews-Background.avif);
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.Dentobees-PricingPlan-Background {
    background-image: url(../public/Dentobees-PricingPlan-Background.avif);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dentobees-PricingPlan-Business-Background {
    background-image: url(../public/Dentobees-PricingPlan-Business-Background.avif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dentobees-Pages-Background {
    background-image: url(../public/Dentobees-Pages-Background.avif);
    background-position: top center;  
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
}

.Dentobees-Founders-Background {
    background-image: url(../public/Dentobees-Founders-Background.avif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Dentobees-Faq-Background {
    background-image: url(../public/Dentobees-Faq-Background.avif);
    background-position: top;  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Meta-Dentobees-Hero-Background {
    background-image: url(../public/Dentobees-Hero-Background.avif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}


